<h1 mat-dialog-title>Message Received</h1> <hr>
<div mat-dialog-content>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Patient Name : </label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <!-- <input type="text" class="form-control" id="email" disabled placeholder="Enter first name" value="Fabrice"> -->
        <label class="control-label label-weight col-lg-8 col-md-8 col-sm-8 col-xs-8">Fabrice </label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Contact Number : </label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <!-- <input type="text" class="form-control" id="email" disabled placeholder="Enter last name" value="647-210-9935"> -->
        <label class="control-label label-weight col-lg-8 col-md-8 col-sm-8 col-xs-8">647-210-9935 </label>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Text Received Date: </label>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <!-- <input type="text" class="form-control" id="email" disabled placeholder="Enter last name" value="Jul 14 2019 07:27:11 PM"> -->
        <label class="control-label label-weight col-lg-8 col-md-8 col-sm-8 col-xs-8">Jul 14 2019 07:27:11 PM </label>
      </div>
    </div>
    <div class="form-group">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <textarea class="form-control txtarea" rows="4" disabled placeholder="Enter contact address">Unable.I work till 3:30.Earliest I can get there is 3:50.</textarea>
        </div>
    </div>
  </form>
</div>
<mat-dialog-actions align="end">
  <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Close</button>
</mat-dialog-actions>

