<!-- <app-info-cards></app-info-cards>
    
    <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="45" class="flex-p">
            <app-disk-space></app-disk-space>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="55" class="flex-p">
            <app-todo></app-todo>
        </div>
    </div> -->
    <!-- <div fxLayout="row wrap">
        <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="flex-p"> 
            <div fxFlex="100" class="flex-p">
                <mat-card>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="muted-text">
                        <mat-icon class="icon-lg">monetization_on</mat-icon>
                        <div>
                            <h2>$ 35700</h2>
                            <h3 class="fw-400">Profit</h3>
                        </div>                
                    </div>            
                </mat-card>
            </div>
            <div fxFlex="100" class="flex-p">
                <mat-card>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="muted-text">
                        <mat-icon class="icon-lg">cloud_download</mat-icon>
                        <div>
                            <h2>187230</h2>
                            <h3 class="fw-400">Downloads</h3>
                        </div>                
                    </div>            
                </mat-card>
            </div>       
            <div fxFlex="100" class="flex-p">
                <mat-card>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="muted-text">
                        <mat-icon class="icon-lg">shopping_cart</mat-icon>
                        <div>
                            <h2>78,25 %</h2>
                            <h3 class="fw-400">Sales</h3>
                        </div>                
                    </div>            
                </mat-card>
            </div>
        </div>
    </div> -->
    
    
    
    <div fxLayout="row wrap">
        <div class="w-100 flex-p">
            <div class="row wrap">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="w-100 flex-p"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <div class="w-100 flex-p">
                        <!-- <button mat-raised-button class="pull-right add-hover-help-dash btn-success-help-dash" style="margin-left: 15px;">
                            <mat-icon>help_outline</mat-icon> Help
                        </button> -->
                        <button mat-raised-button color="primary" class="pull-right filter-hover" (click)="toggleFilter()">
                            <mat-icon>filter_list</mat-icon> Filter
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p" *ngIf="filterToggle">
            <mat-card class="filter">
                <mat-card-content>
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <mat-select color="primary" placeholder="--Select Year--" class="form-control">
                                    <mat-option [value]="0">2016</mat-option>
                                    <mat-option [value]="1">2017</mat-option>
                                    <mat-option [value]="2">2018</mat-option>
                                    <mat-option [value]="3">2019</mat-option>
                                </mat-select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <mat-select color="primary" placeholder="--Select Month--" class="form-control">
                                    <mat-option [value]="0">January</mat-option>
                                    <mat-option [value]="1">February</mat-option>
                                    <mat-option [value]="2">March</mat-option>
                                    <mat-option [value]="3">April</mat-option>
                                    <mat-option [value]="4">May</mat-option>
                                    <mat-option [value]="5">June</mat-option>
                                    <mat-option [value]="6">July</mat-option>
                                    <mat-option [value]="7">August</mat-option>
                                    <mat-option [value]="8">September</mat-option>
                                    <mat-option [value]="9">October</mat-option>
                                    <mat-option [value]="10">November</mat-option>
                                    <mat-option [value]="11">December</mat-option>
                                </mat-select>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <button class="add-hover btn btn-success">Go</button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-p" style="margin-top: -10px;">
            <div class="row ">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="w-100 flex-p">
                        <div class="dashboard-stat blue-madison">
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    $ 345
                                </div>
                                <div class="desc">
                                    Billings this week
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="w-100 flex-p">
                        <div class="dashboard-stat gray-madison">
                            <div class="visual">
                                <i class="fa fa-skyatlas"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    14
                                </div>
                                <div class="desc">
                                    Sample Collections this week
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="w-100 flex-p">
                        <div class="dashboard-stat pyellow-madison">
                            <div class="visual">
                                <i class="fa fa-free-code-camp"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    27
                                </div>
                                <div class="desc">
                                    Patients Visits this week
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="w-100 flex-p">
                        <div class="dashboard-stat red-intense">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    6
                                </div>
                                <div class="desc">
                                    Incoming Referrals this week
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="w-100 flex-p">
                        <div class="dashboard-stat green-haze">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    $ 1026
                                </div>
                                <div class="desc">
                                    Billings this month 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="w-100 flex-p">
                        <div class="dashboard-stat pblue-madison">
                            <div class="visual">
                                <i class="fa fa-codepen"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    52
                                </div>
                                <div class="desc">
                                    Sample Collections this month
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="w-100 flex-p">
                        <div class="dashboard-stat purple-plum">
                            <div class="visual">
                                <i class="fa fa-gitlab"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    108
                                </div>
                                <div class="desc">
                                    Patients Visits this month
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="w-100 flex-p">
                        <div class="dashboard-stat ppurple-madison">
                            <div class="visual">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    24
                                </div>
                                <div class="desc">
                                    Incoming Referrals this month
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 flex-p" style="margin-top: -10px;">
            <div class="row ">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="w-100 flex-p">
                        <div class="dashboard-stat blue-madison">
                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    10
                                </div>
                                <div class="desc">
                                    Active Prospects
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="w-100 flex-p">
                        <div class="dashboard-stat red-intense">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    40%
                                </div>
                                <div class="desc">
                                    Conversation Ratio
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="w-100 flex-p">
                        <div class="dashboard-stat green-haze">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    40%
                                </div>
                                <div class="desc">
                                    Opportunities Ratio
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="w-100 flex-p">
                        <div class="dashboard-stat purple-plum">
                            <div class="visual">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    40%
                                </div>
                                <div class="desc">
                                    Conversion Ratio
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div> -->
        
        <div fxFlex="100" fxFlex.gt-sm="100" class="flex-p">
            <app-analytics></app-analytics>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="100" class="flex-p">
            <app-trend-chart></app-trend-chart>
        </div>
        <!-- <div fxFlex="100" fxFlex.gt-sm="100" class="flex-p">
            <app-bargraph></app-bargraph>
        </div> -->
        <div fxFlex="100" fxFlex.gt-sm="50" class="flex-p">
            <app-pie></app-pie>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="flex-p">
            <app-piee></app-piee>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="flex-p">
            <app-auditeepie></app-auditeepie>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="flex-p">
            <app-remarksturnaroundpie></app-remarksturnaroundpie>
        </div>
        <!-- <div fxFlex="100" fxFlex.gt-sm="50" class="flex-p">
            <app-capaturnaroundpie></app-capaturnaroundpie>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="flex-p">
            <app-auditcompletepie></app-auditcompletepie>
        </div> -->
        
        
        <!-- <div style="height:500px !important" fxFlex="100" fxFlex.gt-sm="100" class="flex-p">
            <app-googlee-maps></app-googlee-maps>
        </div> -->
        <div fxFlex="100" fxFlex.gt-sm="100" class="flex-p">
            <app-googlee-maps></app-googlee-maps>
        </div>

        
    </div>
    