<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100">

        <div fxLayout="row wrap">
            <div class="table-responsive">
                <table id="example2" class="table table-bordered table-hover">
                    <thead class="tbl-head">
                        <tr class="tr-grid-header">
                            <th>Date</th>
                            <th>Event Name</th>
                            <th>Patient</th>
                            <th>User</th>
                            <th>Type</th>
                            <th>Public IP</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tableList">
                            <td>{{item.eventDate}}</td>
                            <td>{{item.eventName}}</td>
                            <td>{{item.patientName}}</td>
                            <td>{{item.user}}</td>
                            <td>{{item.userType}}</td>
                            <td>{{item.publicIp}}</td>
                            <td>{{item.location}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
  
  <div *ngIf="!tableList" fxLayout="column" fxLayoutAlign="center center" class="campaign-spinner">
    <mat-spinner color="primary"></mat-spinner>
  </div>
  