.new-class {
    font-weight: 200;
}

.margins {
    margin-top: 0px;
}
.margin {
    margin-right: 15px;
}

.new-scaled-margin {
    margin-left:15px;
}
.new-style-class {
    margin-top: 10px;
}
h3 {
    margin-top:0px!important; 
}