<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">
      <button type="button" class="btn btn-success" style="margin-bottom: 5px;margin-left: 5px;float: right" (click)="savePermissions()"><i class="fa fa-floppy-o"></i>Save</button>
      <button type="button" class="btn btn-default" style="margin-bottom: 5px;float:right" (click)="goBack()"><i class="fa fa-arrow-left"></i>Back</button>
  
    <div class="table-responsive">
      <table id="example2" class="table table-bordered table-hover">
        <thead class="tbl-head">
          <tr class="tr-grid-header">
            <th>S.No</th>
            <th>Description</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tableList">
            <td>{{item.sNo}}</td>
            <td>{{item.description}}</td>
            <td>
              <mat-radio-group aria-label="Select an option" name="sadas">
                <mat-radio-button class="margin margins" [value]="1">Yes</mat-radio-button>
                <mat-radio-button class="margin margins new-scaled-margin" [value]="2">No</mat-radio-button>
              </mat-radio-group>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>