<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="w-100" style="margin-bottom: 10px">

    <div class="row col-sm-12" class="flex-p">

      <div class="col-sm-4">
        <input type="text" class="form-control pull-left" style="width: 50%;margin-right: 15px;"
          placeholder="Keyword Search" required>
        <button type="button" class="add-hover btn btn-success  pull-left">Search</button>
      </div>

      <div class="col-lg-8" style="padding: 0px">
        <div fxLayout="row" style="float: right !important;">

          <!-- <button mat-raised-button style="margin-right: 20px" class="pull-right add-hover btn-success">
              <mat-icon>add_box</mat-icon> Add CALC
            </button> -->
          <!-- <button mat-raised-button class="pull-right add-hover btn-success">
            <mat-icon>refresh</mat-icon> Refresh
          </button> -->

        </div>
      </div>

    </div>
  </div>
</div>

<div fxLayout="row wrap">
  <div class="table-responsive" style="margin-left: 15px;margin-right: 10px">
    <table id="example2" class="table table-bordered table-hover">
      <thead class="tbl-head">
        <tr class="tr-grid-header">
          <th class="text-center">Actions</th>
          <th>Nutrient</th>
          <th>Units</th>
          <th class="text-center">Pregnancy</th>
          <th class="text-center">Lactation</th>
          <th class="text-center">Calc</th>
          <th class="text-center">Logic</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of List">
          <td class="text-center">
            <a title="Edit User" style="margin-right: 10px; cursor: pointer;">
              <i class="fa fa-edit"></i>
            </a>
            <a mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left"
              (confirm)="deletePatientOrder()" (cancel)="cancelClicked = true">
              <i style="cursor: pointer;" title="Delete User" class="fa fa-trash red"></i>
            </a>
          </td>
          <td>{{item.Nutrient}}</td>
          <td>{{item.Units}}</td>
          <td class="text-center">{{item.Pregnancy}}</td>
          <td class="text-center">{{item.Lactation}}</td>
          <td class="text-center"><a class="inner-screen" style="cursor: pointer;" title="Calculation">View</a></td>
          <td class="text-center"><a class="inner-screen" style="cursor: pointer;" title="Logic"
            (click)="openLogicDialog()">View</a></td>
        </tr>
      </tbody>
    </table>
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
  </div>
</div>