<!-- <div fxLayout="row wrap" *ngIf="router.url != '/'">
    <div fxFlex="100" class="flex-p">
        <h2 style="font-weight:300;padding-left: 2px;padding-bottom: 8px;padding-bottom: 8px">{{moduleTitle ||
            'Dashboard'}}</h2>
        <mat-card fxLayout="row" class="breadcrumb">
            <i class="material-icons" fxLayout="row" fxLayoutAlign="start center"> notes </i>
            <span class="breadcrumb-title" fxLayout="row" fxLayoutAlign="start center"> {{description[moduleTitle] ||
                description['Dashboard']}} </span>
            <a *ngIf="router.url != '/'" routerLink="/" class="breadcrumb-item" fxLayout="row" fxLayoutAlign="start center"
                (click)="closeSubMenus()">
                <span class="">Home</span>
            </a>
            <div *ngFor="let breadcrumb of breadcrumbs; let i = index;" class="breadcrumb-item" fxLayout="row"
                fxLayoutAlign="start center">
                <a [hidden]="i == (breadcrumbs.length - 1)" [routerLink]="[breadcrumb.url]">{{breadcrumb.name}}</a>
                <span [hidden]="i != (breadcrumbs.length - 1)" class="breadcrumb-title active">{{breadcrumb.name}}</span>
            </div>
        </mat-card>
    </div>
</div> -->



<!-- <div  class="breadcrumb" >
    <div  class="w-100" style="margin-left: 5px;" >
        <h2 style="margin-top:10px;margin-bottom:5px;">{{moduleTitle||'Dashboard'}}</h2>
        <mat-card fxLayout="row" class="breadcrumb helptext bc">
            <div  class="flex-p">
                <span *ngIf="!description[moduleTitle][subTitle]" class="page-title nomargin"> {{description[moduleTitle] || description['Dashboard']}} </span>
                <span *ngIf="description[moduleTitle][subTitle]" class="page-title nomargin">{{description[moduleTitle][subTitle]}}</span>
              
            </div>
        </mat-card>
    </div>
</div> -->

<div fxLayout="row wrap" class="breadcrumb" style="padding-bottom: 8px !important;margin-left: 5px;" *ngIf="router.url != '/'">
    <div fxFlex="100" class="">
        <h3 *ngIf=" moduleTitle != 'Dictionary' && moduleTitle != 'Calculations' && moduleTitle != 'Report' && moduleTitle != 'Steps' " style="margin-top:10px;margin-bottom:10px;">{{moduleTitle||'Dashboard'}}</h3>
        <h3 *ngIf=" moduleTitle == 'Dictionary' || moduleTitle == 'Calculations' || moduleTitle == 'Report' " style="margin-top:10px;margin-bottom:10px;">{{'Set Up'}}</h3>
        <h3 *ngIf=" moduleTitle == 'Steps'  " style="margin-top:10px;margin-bottom:10px;">{{'Steps'}}</h3>
        <mat-card fxLayout="row" class="breadcrumb helptext bc">
            <div fxFlex="100" class="flex-p">
                <span *ngIf=" moduleTitle != 'Dictionary' && moduleTitle != 'Calculations' && moduleTitle != 'Report' && moduleTitle != 'Steps' " class="page-title nomargin">{{description[moduleTitle] || description['Dashboard']}}</span>
                <span *ngIf=" moduleTitle == 'Dictionary' || moduleTitle == 'Calculations' || moduleTitle == 'Report' " class="page-title nomargin">{{description['Set Up']}}</span>
                <span *ngIf=" moduleTitle == 'Steps'  " class="page-title nomargin">{{description['Steps']}}</span>
                <div fxLayout="row" style="float: right !important;" class="pull-right hidden-xs">
                    <a *ngIf="router.url != '/'" routerLink="/mako" class="breadcrumb-item" fxLayout="row" fxLayoutAlign="start center"
                        (click)="closeSubMenus()">
                        <mat-icon style="margin-right: 5px">home</mat-icon>
                        <span class="breadtitle breadcrumb-title">Home</span>
                    </a>
                    <div *ngFor="let breadcrumb of breadcrumbs; let i = index;" class="breadcrumb-item" fxLayout="row"
                        fxLayoutAlign="start center">
                        <a [hidden]="i == (breadcrumbs.length - 1)"
                            [routerLink]="[breadcrumb.url]">{{breadcrumb.name}}</a>
                        <span [hidden]="i != (breadcrumbs.length - 1)" class="breadcrumb-title active margin-right">{{breadcrumb.name
                            | titlecase}}</span>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>