<h3 class="custom-header" style="font-weight: 300; margin-bottom: 10px !important;" mat-dialog-title>
  Update Personal Data</h3>

<form class="form-horizontal" [formGroup]="PersonalForm" novalidate>
  <div mat-dialog-content style="overflow: hidden;margin-top: 30px">
    <div class="col-sm-12 ">
      <div fxFlex="100" fxFlex.gt-sm fxFlex.sm>
        <div fxLayout="row wrap">
          <div class="w-100">
            <table id="example2" class="table table-bordered table-responsive-md btn-table table-hover">
              <thead class="tbl-head">
                <tr class="tr-grid-header">
                  <th>Row Reference</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><label style="font-weight: 100;">Age:</label></td>
                  <td><input type="text" class="form-control" id="age" formControlName="Age" placeholder="Enter Age"
                      required></td>
                </tr>
                <tr>
                  <td><label style="font-weight: 100;">Gender:</label></td>
                  <td>
                    <mat-radio-group class="pull-left" formControlName="Gender" style="margin-top: 5px"
                      aria-label="Select an option">
                      <mat-radio-button *ngFor="let gen of gender" [value]="gen.Value"  style="margin-right: 10px" (click)="setradio(gen.Name)"><small
                          style="font-size: 14px;">{{gen.Name}}</small></mat-radio-button>
                    </mat-radio-group>
                  </td>
                </tr>
                <tr *ngIf="isSelected('Female')">
                  <td><label style="font-weight: 100;">Pregnant / Lactating:</label></td>
                  <td>
                    <mat-checkbox class="w-100" formControlName="Pregnant" id="lactating">
                    </mat-checkbox>
                  </td>
                </tr>
                <tr>
                  <td><label style="font-weight: 100;">Ethinicity:</label></td>
                  <td>
                    <mat-select placeholder="--Select by Ethinicity--" formControlName="Ethinicity"
                      class="form-control">
                      <mat-option *ngFor="let eth of ethnicity" [value]="eth.Value">
                        {{eth.Name}}
                      </mat-option>
                    </mat-select>
                  </td>
                </tr>
                <!-- <tr *ngFor="let item of List; let index = index">
                  <td>
                    {{item.rowRef}}
                  </td>
                  <td class="text-center">
                    <input *ngIf="item.value == 'text' " type="text" class="form-control" id="email"
                      formControlName="addFirstName" placeholder="Enter Age" required>
                    <mat-radio-group *ngIf="item.value == 'gender' " [(ngModel)]="selectedValueStepType"
                      name="selectedValueStepType" class="pull-left" style="margin-top: 5px"
                      aria-label="Select an option">
                      <mat-radio-button value="1" style="margin-right: 10px" (click)="setradio('Male')"><small style="font-size: 14px;">Male</small></mat-radio-button>
                      <mat-radio-button value="2"><small style="font-size: 14px;" (click)="setradio('Female')">Female</small></mat-radio-button>
                    </mat-radio-group>

                    <mat-radio-group *ngIf="item.value != 'p/l' && isSelected('Female')"  class="pull-left" style="margin-top: 10px"
                      aria-label="Select an option">
                      <mat-radio-button value="1" style="margin-right: 18px"><small style="font-size: 14px;">Yes</small> </mat-radio-button>
                      <mat-radio-button value="2"><small style="font-size: 14px;">No</small></mat-radio-button>
                    </mat-radio-group>

                    <mat-select *ngIf="item.value == 'DD' " placeholder="--Select by Ethinicity--" class="form-control">
                      <mat-option [value]="1">Hispanic</mat-option>
                      <mat-option [value]="2">Non-Hispanic White</mat-option>
                      <mat-option [value]="3">Afican American</mat-option>
                      <mat-option [value]="4">Asian</mat-option>
                      <mat-option [value]="5">Other</mat-option>
                    </mat-select>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-dialog-actions align="center" style="padding-top: 17px !important;">
    <button mat-raised-button class="add-dark-hover btn-default" style="margin-right: 10px " type="button"
      (click)="close()">
      <mat-icon>cancel</mat-icon>
      <span>&nbsp;Cancel</span>
    </button>
    <button mat-raised-button class="add-hover btn-success" (click)="addSelections()">
      <mat-icon>send</mat-icon>
      <span>&nbsp;Save</span>
    </button>
  </mat-dialog-actions>
</form>

<!-- <h1 mat-dialog-title align="center" >Personal Data</h1><hr>
<div fxLayout="row wrap" mat-dialog-content align="center" style="margin-bottom: 30px;" >

    <div fxFlex="100" fxFlex.gt-sm fxFlex.sm >

          <div fxLayout="row wrap">
    <div class="w-100" style="margin-left: 15px;margin-right: 10px;">
        <table id="example2" class="table table-bordered table-responsive-md btn-table table-hover">
            <thead class="tbl-head">
                <tr class="tr-grid-header">
                    <th  >Row Reference</th>
                    <th  >Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of List; let index = index">
                    
                    <td >
                            {{item.rowRef}}
                    </td>

                    <td class="text-center" >
                      <input *ngIf="item.value == 'text' " type="text" class="form-control" id="email" formControlName="addFirstName" placeholder="Enter Age" required>

                      <mat-radio-group *ngIf="item.value == 'gender' " [(ngModel)]="selectedValueStepType" name="selectedValueStepType" class="pull-left" style= "margin-top: 5px"aria-label="Select an option">
                        <mat-radio-button  value="1" style="margin-right: 10px">Male</mat-radio-button>
                        <mat-radio-button  value="2">Female</mat-radio-button>
                      </mat-radio-group>

                      <mat-radio-group *ngIf="item.value == 'p/l'" class="pull-left" style="margin-top: 10px" aria-label="Select an option">
                        <mat-radio-button value="1" style="margin-right: 18px">Yes </mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                      </mat-radio-group>

                      <mat-select *ngIf="item.value == 'DD' " placeholder="--Select by Ethinicity--" class="form-control">
                            <mat-option [value]="1">Hispanic</mat-option>
                            <mat-option [value]="2">Non-Hispanic White</mat-option>
                            <mat-option [value]="3">Afican American</mat-option>
                            <mat-option [value]="4">Asian</mat-option>
                            <mat-option [value]="5">Other</mat-option>
                      </mat-select>

                    </td>
                </tr>
            </tbody>
      </table>
  </div>
</div>
        
    </div>
</div>

<mat-dialog-actions align="end">
  <button mat-raised-button class="add-dark-hover btn-success" (click)="close()"> Submit</button>
  <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
</mat-dialog-actions>  -->