<h1 mat-dialog-title align="center" >Personal Data</h1><hr>
<div fxLayout="row wrap" mat-dialog-content align="center" style="margin-bottom: 30px;" >

    <div fxFlex="100" fxFlex.gt-sm fxFlex.sm >
        <!-- <form class="form-horizontal Container" novalidate style="overflow: hidden;" >
            <div class="form-group">
                <label class=" col-lg-3 col-md-3 col-sm-3 col-xs-3 " style="margin-top: 5px">Age : </label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <input type="text" class="form-control" id="email" formControlName="addFirstName" placeholder="Enter Age" required>
                </div>
            </div>
            <div class="form-group">
                <label class=" col-lg-3 col-md-3 col-sm-3 col-xs-3 ">Gender : </label>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <mat-radio-group  class="pull-left" style= "margin-top: 5px"aria-label="Select an option">
                        <mat-radio-button value="1" style="margin-right: 10px">Male</mat-radio-button>
                        <mat-radio-button value="2">Female</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>
            <div class="form-group">
              <label class=" col-lg-3 col-md-3 col-sm-3 col-xs-3 ">Pregnant / Lactating : </label>
              <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                  <mat-radio-group class="pull-left" style="margin-top: 10px" aria-label="Select an option">
                      <mat-radio-button value="1" style="margin-right: 18px">Yes </mat-radio-button>
                      <mat-radio-button value="2">No</mat-radio-button>
                  </mat-radio-group>
              </div>
            </div>
          </form> -->

          <div fxLayout="row wrap">
    <div class="w-100" style="margin-left: 15px;margin-right: 10px;">
        <table id="example2" class="table table-bordered table-responsive-md btn-table table-hover">
            <thead class="tbl-head">
                <tr class="tr-grid-header">
                    <th  >Row Reference</th>
                    <th  >Value</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of List">
                    
                    <td >
                      {{item.rowRef}}
                    </td>
                    <td class="text-center" >
                      <input *ngIf="item.value == 'text' " type="text" class="form-control" id="email" formControlName="addFirstName" placeholder="Enter Age" required>

                      <mat-radio-group *ngIf="item.value == 'gender' " class="pull-left" style= "margin-top: 5px"aria-label="Select an option">
                        <mat-radio-button value="1" style="margin-right: 10px">Male</mat-radio-button>
                        <mat-radio-button value="2">Female</mat-radio-button>
                      </mat-radio-group>

                      <mat-radio-group *ngIf="item.value == 'p/l' " class="pull-left" style="margin-top: 10px" aria-label="Select an option">
                        <mat-radio-button value="1" style="margin-right: 18px">Yes </mat-radio-button>
                        <mat-radio-button value="2">No</mat-radio-button>
                      </mat-radio-group>

                    </td>
                </tr>
            </tbody>
      </table>
  </div>
</div>
        
    </div>
</div>

<mat-dialog-actions align="end">
  <button mat-raised-button class="add-dark-hover btn-success" (click)="close()"> Submit</button>
  <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
</mat-dialog-actions> 