<h1 mat-dialog-title align="center" >Add DRI</h1><hr>
<div mat-dialog-content align="center" style="margin-bottom: 30px;">
        <form class="form-horizontal" novalidate >
                <div class="form-group">
                    <label class="control-label col-sm-4 add-member-label">Age Threshold : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input type="text" class="form-control" placeholder="Enter Age Threshold" required>
                        <!-- <div *ngIf="!addFirstName.valid && (addFirstName.dirty || addFirstName.touched)" class="error-text">
                            <div *ngIf="addFirstName.errors.required">
                                First name is required
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4 add-member-label">Apa : </label>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                      <input type="text" class="form-control" placeholder="Enter Apa" required>
                        <!-- <div *ngIf="!addLastName.valid && (addLastName.dirty || addLastName.touched)" class="error-text">
                            <div *ngIf="addLastName.errors.required">
                                Last name is required
                            </div>
                        </div> -->
                  </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-4 add-member-label">Carbohydrates : </label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <input type="text" class="form-control" placeholder="Enter Carbohydrates" required>
                              <!-- <div *ngIf="!addLastName.valid && (addLastName.dirty || addLastName.touched)" class="error-text">
                                  <div *ngIf="addLastName.errors.required">
                                      Last name is required
                                  </div>
                              </div> -->
                        </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4 add-member-label">Fiber : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input type="text" class="form-control" placeholder="Enter Fiber" required>
                         <!-- <div *ngIf="!addLastName.valid && (addLastName.dirty || addLastName.touched)" class="error-text">
                            <div *ngIf="addLastName.errors.required">
                                          Last name is required
                            </div>
                         </div> -->
                    </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-4 add-member-label">Linolenic acid : </label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <input type="text" class="form-control" placeholder="Enter Linolenic acid" required>
                             <!-- <div *ngIf="!addLastName.valid && (addLastName.dirty || addLastName.touched)" class="error-text">
                                <div *ngIf="addLastName.errors.required">
                                              Last name is required
                                </div>
                             </div> -->
                        </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-4 add-member-label">α-Linolenic acid : </label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <input type="text" class="form-control" placeholder="Enter α-Linolenic acid" required>
                             <!-- <div *ngIf="!addLastName.valid && (addLastName.dirty || addLastName.touched)" class="error-text">
                                <div *ngIf="addLastName.errors.required">
                                              Last name is required
                                </div>
                             </div> -->
                        </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-4 add-member-label">Protein : </label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <input type="text" class="form-control" placeholder="Enter Protein" required>
                             <!-- <div *ngIf="!addLastName.valid && (addLastName.dirty || addLastName.touched)" class="error-text">
                                <div *ngIf="addLastName.errors.required">
                                              Last name is required
                                </div>
                             </div> -->
                        </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-4 add-member-label">Vitamin A : </label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <input type="text" class="form-control" placeholder="Enter Vitamin A" required>
                             <!-- <div *ngIf="!addLastName.valid && (addLastName.dirty || addLastName.touched)" class="error-text">
                                <div *ngIf="addLastName.errors.required">
                                              Last name is required
                                </div>
                             </div> -->
                        </div>
                </div>
                <div class="form-group">
                        <label class="control-label col-sm-4 add-member-label">Vitamin C : </label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <input type="text" class="form-control" placeholder="Enter Vitamin C" required>
                             <!-- <div *ngIf="!addLastName.valid && (addLastName.dirty || addLastName.touched)" class="error-text">
                                <div *ngIf="addLastName.errors.required">
                                              Last name is required
                                </div>
                             </div> -->
                        </div>
                </div>
            </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button class="add-dark-hover btn-success" (click)="close()"> Submit</button>
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
</mat-dialog-actions> 