<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100">

        <div class="row" style="margin-bottom:14px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="w-100 flex-p">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="w-100 flex-p">
                        <!-- <button mat-raised-button class="pull-right add-hover-help btn-success-help" style="margin-left: 10px;">
                                <mat-icon>help_outline</mat-icon> Help
                            </button> -->
                    <button mat-raised-button class="pull-right add-hover btn-success" (click)="openUserDialog(null)">
                        <mat-icon>person_add</mat-icon> Add User
                    </button>
                    <button mat-raised-button color="primary" style="color: white !important;" class="pull-right filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
                        <mat-icon>filter_list</mat-icon> Filter
                    </button>
                </div>
            </div>
        </div>

        <div fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100" *ngIf="filterToggle">
                    <mat-card class="filter">
                        <mat-card-content>
                            <!-- <div class="row col-sm-12">
                                
                                <div class="col-sm-4">
                                    <div class="col-sm-4 newMarginClass">
                                        From Date : 
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="input-icon right">
                                            <i class="fa fa-calendar" [owlDateTimeTrigger]="dt3"></i>
                                            <input class="form-control" placeholder="MM/DD/YYYY" class="form-control" id="db" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" name="dt3" [(ngModel)]="dates">
                                            <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-4 newMarginClass">
                                        To Date : 
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="input-icon right">
                                            <i class="fa fa-calendar" [owlDateTimeTrigger]="dt2"></i>
                                            <input class="form-control" placeholder="MM/DD/YYYY" class="form-control" id="db" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" name="dt2" [(ngModel)]="dates">
                                            <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                                        </div>
                                    </div>
                                </div>
                                
                            </div> -->
                                <div class="row col-sm-12">
                                        <div class="col-sm-4">
                                                <div class="col-sm-4 newMarginClass">
                                                    User Name : 
                                                </div>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" placeholder="--Enter User Name--">
                                                </div>
                                        </div>
                                    <div class="col-sm-4">
                                        <div class="col-sm-4 newMarginClass">
                                            Status : 
                                        </div>
                                        <div class="col-sm-8">
                                            <mat-select placeholder="--Search by Status--" class="form-control">
                                                <mat-option *ngFor="let option of status" [value]="">{{option}}</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                            
                            
                                
                                <div class="col-lg-1">
                                    <button type="button" class="add-hover btn btn-success  pull-right">Search</button>
                                </div>
                                <div class="col-lg-1"></div>
                            </div>
                                
                            
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>

        
        <div fxLayout="row wrap">
            <div class="table-responsive">
                <table id="example2" class="table table-bordered table-hover">
                    <thead class="tbl-head">
                        <tr class="tr-grid-header">
                            <th>User Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Permissions</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of tableList">
                            <td>{{item.vcName}}</td>
                            <td>{{item.vcEmail}}</td>
                            <td>{{item.vcPhone}}</td>
                            <td><a routerLink="permissions">{{item.Permissions}}</a></td>
                            <td class="pad-left inner-screen text-center">
                                <a (click)="item.status = ! item.status">
                                    <span *ngIf="!item.status" style="color:red">Inactive</span>
                                    <span *ngIf="item.status">Active</span>
                                </a>
                            </td>
                            <td class="text-center">
                                <a matTooltip="Edit Details" style="margin-right: 10px; cursor: pointer;font-size:16px!important;color:#0987e8d1">
                                  <i class="fa fa-edit"></i>
                                </a>
                                <a>
                                  <i style="cursor: pointer;font-size:16px!important;" matTooltip="Delete" class="fa fa-trash red"></i>
                                </a>
                              </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div *ngIf="!tableList" fxLayout="column" fxLayoutAlign="center center" class="campaign-spinner">
    <mat-spinner color="primary"></mat-spinner>
</div>

