<div fxLayout="row wrap" #resizedDiv>
    <div class="flex-p w-100">

        <div class="table-responsive">
            <table id="example2" style="margin-top: 10px" class="table table-bordered table-hover table-striped">
                <thead class="tbl-head">
                    <tr class="tr-grid-header">
                        <th>Name</th>
                        <th>Description</th>
                        <th>Previous Value</th>
                        <th>New Value</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of settingList">
                        <td>{{item.SettingName}}</td>
                        <td>{{item.Description}}</td>
                        <td>{{item.PreviousValue}}</td>
                        <td>
                            <form [formGroup]="Form">
                                <div *ngIf="item.SettingName == 'Time Zone'">
                                    <select class="form-control" formControlName="newValue">
                                        <option>--Select--</option>
                                        <option value="AST">AST</option>
                                        <option value="IST">IST</option>
                                        <option value="CST">CST</option>
                                        <option value="MST">MST</option>
                                        <option value="PST">PST</option>
                                        <option value="ADT">ADT</option>
                                        <option value="EDT">EDT</option>
                                        <option value="PST">PST</option>
                                        <option value="MDT">MDT</option>
                                        <option value="PDT">PDT</option>
                                    </select>
                                </div>
                                <div *ngIf="item.SettingName == 'Grid Length'">
                                    <mat-select color="primary" placeholder="--Select Grid length--"
                                        formControlName="newValue" class="form-control">
                                        <mat-option [value]="5">5</mat-option>
                                        <mat-option [value]="10">10</mat-option>
                                        <mat-option [value]="25">25</mat-option>
                                        <mat-option [value]="50">50</mat-option>
                                        <mat-option [value]="100">100</mat-option>
                                    </mat-select>
                                </div>
                                <div *ngIf="item.SettingName == 'Notification Email'">
                                    <input type="email" class="form-control" formControlName="newValue"
                                        placeholder="Enter Notification Email">
                                </div>
                                <div *ngIf="item.SettingName == 'Fax Number'">
                                    <input  (keypress)="numberOnly($event)" class="form-control" formControlName="newValue"
                                        placeholder="Enter Fax Number">
                                </div>
                                <div *ngIf="item.SettingName == 'Prospect Follow-up Days'">
                                    <input type="email" class="form-control" formControlName="newValue"
                                        placeholder="Enter Prospect Follow-up Days">
                                </div>
                                <div *ngIf="item.SettingName == 'Opportunity Follow-up Days'">
                                    <input type="email" class="form-control" formControlName="newValue"
                                        placeholder="Enter Opportunity Follow-up Days">
                                </div>
                            </form>
                        </td>
                        <td class="text-center">
                            <a style="margin-right: 10px;margin-top: 5px;" class="status" mwlConfirmationPopover
                                [popoverTitle]="popoverStatusTitle" [popoverMessage]="popoverStatusMessage"
                                placement="left" (confirm)="editsettings(item.SettingId)" (cancel)="cancelClicked = true">
                                Save
                            </a>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>