<h3 class="custom-header" style="font-weight: 300; margin-bottom: 10px !important;" mat-dialog-title>
        Add Message</h3>
    
<form class="form-horizontal" novalidate >
        <div mat-dialog-content style="overflow: hidden;margin-top: 30px">
            <div  class="col-sm-12 ">
                    <div class="form-group"> 
                            <label class="control-label col-sm-4 add-member-label">Row Reference : </label>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <input type="text" class="form-control" placeholder="Enter Row Reference" required>
                            </div>
                          </div>
          
                          <div class="form-group">
                                  <label class="control-label col-sm-4 add-member-label">Allele Name : </label>
                                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                      <input type="text" class="form-control" placeholder="Enter Allele Name" required>
                                  </div>
                          </div>
          
                          <div class="form-group">
                              <label class="control-label col-sm-4 add-member-label">Category : </label>
                              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                  <input type="text" class="form-control" placeholder="Enter Category" required>
                              </div>
                          </div>
          
                          <div class="form-group">
                              <label class="control-label col-sm-4 add-member-label">Condition : </label>
                              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                  <input type="text" class="form-control" placeholder="Enter Condition" required>
                              </div>
                          </div>
          
                          <div class="form-group">
                              <label class="control-label col-sm-4 add-member-label">Message : </label>
                              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                  <input type="text" class="form-control" placeholder="Enter Message" required>
                              </div>
                          </div>
          
                          <div class="form-group">
                              <label class="control-label col-sm-4 add-member-label">Target Resolution : </label>
                              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                  <input type="text" class="form-control" placeholder="Enter Target Resolution" required>
                              </div>
                          </div>
          
                          <div class="form-group">
                              <label class="control-label col-sm-4 add-member-label">Target Message : </label>
                              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                  <input type="text" class="form-control" placeholder="Enter Target Message" required>
                              </div>
                          </div>
          
                          <div class="form-group">
                              <label class="control-label col-sm-4 add-member-label">TBD : </label>
                              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                  <input type="text" class="form-control" placeholder="Enter TBD" required>
                              </div>
                          </div>
          
                          <div class="form-group">
                              <label class="control-label col-sm-4 add-member-label">Comment : </label>
                              <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                  <input type="text" class="form-control" placeholder="Enter Comment" required>
                              </div>
                          </div>
            </div>
        </div>
    
        <mat-dialog-actions align="center" style="padding-top: 17px !important;">
            <button mat-raised-button class="add-dark-hover btn-default" style="margin-right: 10px " type="button" (click)="close()">
            <mat-icon>cancel</mat-icon>
            <span>&nbsp;Cancel</span>
        </button>
            <button mat-raised-button class="add-hover btn-success" type="submit">
            <mat-icon>send</mat-icon>
            <span>&nbsp;Save</span>
        </button>
        </mat-dialog-actions>
</form>

<!-- <h1 mat-dialog-title align="center" >Add Message</h1><hr>
<div mat-dialog-content align="center" style="margin-bottom: 30px;">
        <form class="form-horizontal" novalidate >
                
                <div class="form-group"> 
                  <label class="control-label col-sm-4 add-member-label">Row Reference : </label>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                      <input type="text" class="form-control" placeholder="Enter Row Reference" required>
                  </div>
                </div>

                <div class="form-group">
                        <label class="control-label col-sm-4 add-member-label">Allele Name : </label>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <input type="text" class="form-control" placeholder="Enter Allele Name" required>
                        </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4 add-member-label">Category : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input type="text" class="form-control" placeholder="Enter Category" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4 add-member-label">Condition : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input type="text" class="form-control" placeholder="Enter Condition" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4 add-member-label">Message : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input type="text" class="form-control" placeholder="Enter Message" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4 add-member-label">Target Resolution : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input type="text" class="form-control" placeholder="Enter Target Resolution" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4 add-member-label">Target Message : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input type="text" class="form-control" placeholder="Enter Target Message" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4 add-member-label">TBD : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input type="text" class="form-control" placeholder="Enter TBD" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-4 add-member-label">Comment : </label>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input type="text" class="form-control" placeholder="Enter Comment" required>
                    </div>
                </div>
                
            </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button class="add-dark-hover btn-success" (click)="close()"> Submit</button>
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
</mat-dialog-actions>  -->