<h1 mat-dialog-title><span *ngIf="!icd">Add</span><span *ngIf="icd">Edit</span> ICD Code</h1><hr>
<div mat-dialog-content>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">ICD Code : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="email" placeholder="Enter ICD Code">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">ICD Description : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="text" class="form-control" id="email" placeholder="Enter ICD Description">
            </div>
        </div>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button class="add-hover btn-success" (click)="saveIcd()" [mat-dialog-close]="'test'"><span *ngIf="!icd">Save</span><span
            *ngIf="icd">Update</span></button>
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
</mat-dialog-actions> 