<style>
    .login {
        background: #229494 !important;
        color: white !important;
    }

    .login:hover {
        background: #4dadad !important
    }
</style>
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<mat-sidenav-container>
    <div fxLayout="row" fxLayoutAlign="center center" class="h-100 colorClassImportant">
        <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
            <mat-card class="p-0 mat-elevation-z24 box">
                <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
                    <img [src]="imagePath" style="width:60%; height: 50%;">
                </div>
                <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
                    <mat-card fxLayout="column" fxLayoutAlign="center center"
                        class="mat-elevation-z12 box-content-inner">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Email" formControlName="email">
                            <!-- <mat-error *ngIf="form.controls.email.errors?.required">Email is required</mat-error>
                            <mat-error *ngIf="form.controls.email.hasError('invalidEmail')">Invalid email address -->
                            <!-- </mat-error> -->
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Password" [type]=TypeString formControlName="password">
                            <mat-icon matSuffix style="cursor: pointer;  font-size: 14px!important;"
                                (click)="ChangetextType(isPassword = ! isPassword)">remove_red_eye</mat-icon>
                            <!-- <mat-error *ngIf="form.controls.password.errors?.required">Password is required</mat-error>
                            <mat-error *ngIf="form.controls.password.hasError('minlength')">Password isn't long enough, -->
                                <!-- minimum of 6 characters</mat-error> -->
                        </mat-form-field>
                        <div class="w-100">
                            <mat-checkbox color='warn'>Remember me!</mat-checkbox>
                            <a class="pull-right" routerLink="/forgotPassword" style="color: #1c76c3;">Forgot Password?</a>
                        </div>
                    </mat-card>
                    <div class="w-100 ">
                        <button mat-raised-button color="primary" class="pull-left mat-elevation-z12 box-button login"
                            style="width: 30%;bottom: 48px;left: 145px;" type="submit">
                            SIGN IN
                        </button>
                        <a routerLink="/register" style="color: #1c76c3;font-size: 17px;">Click here to Register</a>
                        <!-- <button mat-raised-button routerLink="/register" color="primary"
                            class="pull-right mat-elevation-z12 box-button login" style="margin-right: 60px;width:30%"
                            type="submit">
                            REGISTER
                        </button> -->
                    </div>
                </mat-card-content>
            </mat-card>
        </form>
    </div>
</mat-sidenav-container>