<h3 class="custom-header" style="font-weight: 300; margin-bottom: 10px !important;" mat-dialog-title>
  Edit Nutrient / Condition </h3>

<form class="form-horizontal" [formGroup]="addNutrientForm" novalidate>
  <div mat-dialog-content style="overflow: hidden;margin-top: 30px">
    <div class="col-sm-12 ">

      <div class="form-group">
        <label class="control-label col-sm-4 add-member-label">Section Name: </label>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <input type="text" class="form-control" formControlName="SectionName" placeholder="Enter Section Name" required>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4 add-member-label">Nutrient Condition: </label>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
          <input type="text" class="form-control" formControlName="NutrientCondition" placeholder="Enter Nutrient Condition" required>
        </div>
      </div>

    </div>
  </div>

  <mat-dialog-actions align="center" style="padding-top: 17px !important;">
    <button mat-raised-button class="add-dark-hover btn-default" style="margin-right: 10px " type="button"
      (click)="close()">
      <mat-icon>cancel</mat-icon>
      <span>&nbsp;Cancel</span>
    </button>
    <button mat-raised-button class="add-hover btn-success" (click)="addNutrient()">
      <mat-icon>send</mat-icon>
      <span>&nbsp;Save</span>
    </button>
  </mat-dialog-actions>
</form>