.fa-file-text-o {
    color: #007ad9;
}

.fa-paperclip {
    color: #007ad9;
}

.fa-file-pdf-o {
    color: red;
}

.minWidthProperty {
    min-width: 130px;
}

.newMarginClass {
    margin-top: 7px!important;
}
.topMarginClass {
    margin-top: 10px!important;
}