<div fxLayout="row wrap" #resizedDiv>
        <div class="flex-p w-100">
                
                
                              <p style="margin-bottom: 13px;">
                                  <span class="mr-8" style="font-size: 18px;font-weight: bold;">Patient:</span>
                                  <span class="mr-8" style="font-size: 16px;">Fabrice Vanegas</span>
                                  <!-- <span class="mr-8" style="font-size: 16px;">-  CTO Campaign</span>
                                  <span class="mr-8" style="font-size: 12px;"> ( Vancouver | Pranab )</span>
                                  <span class="mr-8 dot Green" style="height: 14px;width: 14px;vertical-align: text-bottom;float: none;"></span> -->
                                  <!-- <button type="button" class="btn btn-default" style="float:right" (click)="goBack()"><i class="fa fa-arrow-left"></i>Back</button> -->
                              </p>
                          <div class="jumbotron">
                              <div class="row super-row">
                                  <a  class="col-sm completedClassColors" [ngClass]="checkUrl('class')" routerLinkActive="active-prosp-link" routerLink="patientchart">Patient Chart</a>
                                  <a  class = "col-sm completedClassColors" routerLinkActive="active-prosp-link" routerLink = "cases">Cases</a>
                                  <a  class = "col-sm completedClassColors" routerLinkActive="active-prosp-link" routerLink = "activitylog">Activity Log</a>


                                  <!-- <a  class = "col-sm" routerLinkActive="active-prosp-link" routerLink = "test">Tests</a> -->
                                  
                                  <!--Imp-->
                                  <!-- <a  class = "col-sm completedClassColors" routerLinkActive="active-prosp-link" routerLink = "docx">Docs</a>
                                  <a  class = "col-sm completedClassColors" routerLinkActive="active-prosp-link" routerLink = "prescreening">Prescreening</a>
                                  <a  class = "col-sm completedClassColors" routerLinkActive="active-prosp-link" routerLink = "clinicalnotes">Visits</a>
                                  <a  class = "col-sm completedClassColors" routerLinkActive="active-prosp-link" routerLink = "dashboardnotes">Notes</a> -->
                                  <!--Imp-->
                                  
                                  <!-- <a  class = "col-sm" routerLinkActive="active-prosp-link" routerLink = "testnotes">Test Notes</a> -->
                                  
                                  <!--Imp-->
                                  <!-- 
                                  <a  class = "col-sm completedClassColors" routerLinkActive="active-prosp-link" routerLink = "dashboardclaims">Claims</a> -->
                                  <!--Imp-->
                                  
                                  <!-- <a  class = "col-sm" routerLinkActive="active-prosp-link" style="padding-top:0px!important;" routerLink = "scheduledappointments">Scheduled Appointments</a> -->
                              </div>
                              
                          </div>
                      
                         
                          <router-outlet></router-outlet>
                       
        </div>
</div>