<div fxLayout="column">
    <!-- <div class="flex-p">  -->
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">                
                <mat-card-subtitle><h3>Total Allele Calls Distribution</h3></mat-card-subtitle>
            </mat-card-header>
            <div class="w-100 h-300p">
                <ngx-charts-pie-chart
                    [scheme]="colorScheme"
                    [results]="GenotypeSingle"
                    [legend]="showLegend"
                    [explodeSlices]="explodeSlices"
                    [labels]="showLabels"
                    [doughnut]="doughnut"
                    [gradient]="gradient"
                    (select)="onSelect($event)">
                </ngx-charts-pie-chart>                  
            </div>
        </mat-card>
    <!-- </div>   -->
</div>