<!-- <div fxLayout="row wrap" #resizedDiv>
  <div class="w-100">

    <div class="row wrap" style="margin-bottom:15px;margin-top: 15px;margin-left:1px">
      <div class="col-lg-12">
        <div class="pills w-100">
          <ul class="nav nav-pills">
            <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/mako/billing/Dictionary']"
                style="margin-right: 20px!important; padding: 0px 10px;">
                <mat-icon>outlined_flag</mat-icon>Dictionary
              </a></li>
            <li routerLinkActive="active"><a mat-raised-button style="margin-right: 20px!important; padding: 0px 10px;">
                <mat-icon>outlined_flag</mat-icon><span style="color: blue">Calculations</span>
              </a></li>
             <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/mako/billing/finalOutput']"
                style="margin-right: 20px!important; padding: 0px 10px;">
                <mat-icon>outlined_flag</mat-icon> Final Output Variables List
              </a></li> 
            <li routerLinkActive="active"><a mat-raised-button _ngcontent-c37
                style="margin-right: 20px!important; padding: 0px 10px;">
                <mat-icon>outlined_flag</mat-icon><span style="color: blue">Detailed Report</span>
              </a></li>
            <li routerLinkActive="active"><a mat-raised-button _ngcontent-c37>
                <mat-icon>outlined_flag</mat-icon><span style="color: blue">Summary Report</span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div> -->

<div fxLayout="row wrap">
  <div class=" w-100">
    <div class="row wrap" style="margin-bottom:10px;margin-left: 1px">
      <div class="col-lg-12">
        <div class="pills w-100 ">
          <ul class="nav nav-pills">
            <li *ngIf=" dictionaryCreatePermission == true && scopeCreatePermission == true" routerLinkActive="active"><a mat-raised-button [routerLink]="['/mako/billing/Dictionary/Scope']"
                style="margin-right: 10px!important; padding: 0px 10px;">Scope</a></li>
            <li *ngIf=" dictionaryCreatePermission == true && driCreatePermission == true" routerLinkActive="active"><a mat-raised-button [routerLink]="['/mako/billing/Dictionary/DRI']"
                style="margin-right: 10px!important; padding: 0px 10px;">DRI</a></li>
            <li *ngIf=" dictionaryCreatePermission == true && messagesCreatePermission == true" routerLinkActive="active"><a mat-raised-button [routerLink]="['/mako/billing/Dictionary/Messages']"
                style="margin-right: 10px!important; padding: 0px 10px;">Messages</a></li>
            <li *ngIf=" dictionaryCreatePermission == true && sectionsCreatePermission == true" routerLinkActive="active"><a mat-raised-button [routerLink]="['/mako/billing/Dictionary/Sections']"
                style="margin-right: 10px!important; padding: 0px 10px;">Sections</a></li>
            <li *ngIf=" dictionaryCreatePermission == true && nutrientConditionPermission == true" routerLinkActive="active"><a mat-raised-button [routerLink]="['/mako/billing/Dictionary/Nutrient']"
                style="margin-right: 10px!important; padding: 0px 10px;">Nutrients/Condition</a></li>
            <li *ngIf=" dictionaryCreatePermission == true && seqResultCreatePermission == true" routerLinkActive="active"><a mat-raised-button [routerLink]="['/mako/billing/Dictionary/SeqResults']"
                style="margin-right: 10px!important; padding: 0px 10px;">Sequence Results Master</a></li>
            <li *ngIf=" dictionaryCreatePermission == true && persnalDataCreatePermission == true" routerLinkActive="active"><a mat-raised-button style="margin-right: 10px!important; padding: 0px 10px;"
                (click)="patientDataDialog()">Personal Data</a></li>
            <!-- <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/mako/billing/Dictionary/haplotypes']"
                style="margin-right: 10px!important; padding: 0px 10px;">Haplotypes </a></li> -->
            <li *ngIf=" dictionaryCreatePermission == true && testsCreatePermission == true" routerLinkActive="active"><a mat-raised-button [routerLink]="['/mako/billing/Dictionary/Tests']"
                style="margin-right: 10px!important; padding: 0px 10px;">Tests</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>


<div *ngIf=" dictionaryCreatePermission == true">
  <router-outlet></router-outlet>
</div>