<h1 mat-dialog-title align="center" >Upload Patient Data</h1><hr>
<div mat-dialog-content align="center" style="margin-bottom: 30px;">
    <form novalidate  style="overflow: hidden;">
        <label class=" col-lg-4 col-md-4 col-sm-4 col-xs-4 " >Choose File : </label>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <input type="file" name="image"  />
        </div> 
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button class="add-dark-hover btn-success" (click)="close()"> Submit</button>
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
</mat-dialog-actions> 