<h1 mat-dialog-title><span *ngIf="!user">Change </span><span *ngIf="user">Edit</span>Password</h1>

<div mat-dialog-content>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-4">Email:</label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="email" class="form-control" id="email" placeholder="Enter User Name" disabled value="navinmalik@om.com">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4">Current Password:</label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="input-icon right">
                    <i class="fa fa-key"></i>
                    <input type="email" class="form-control" id="email" placeholder="Enter Current Password">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="pwd">New Password:</label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="input-icon right">
                    <i class="fa fa-key"></i>
                    <input type="text" class="form-control" placeholder="Enter New Password">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="pwd">Confirm Password:</label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="input-icon right">
                    <i class="fa fa-key"></i>
                    <input type="text" class="form-control" placeholder="Confirm New Password">
                </div>
            </div>
        </div>
        <!-- <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4" for="pwd">Status:</label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                 <input type="text" class="form-control" placeholder="Enter Industry">
                <select name="" id="" class="form-control">
                    <option   selected disabled>Select status</option>
                    <option  >Active</option>
                    <option  >Inactive</option>
                </select>
            </div>
        </div> -->
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button class="btn-default" (click)="close()">Cancel</button>
    <button mat-raised-button class="add-hover btn-success" (click)="updatePassword();" [mat-dialog-close]="'test'"><span *ngIf="!user">Save</span><span
            *ngIf="user">Update</span></button>
</mat-dialog-actions> 