<div class="cust-red">
  <h3 style="font-weight: 300; margin-bottom: 5px !important;margin-top: 5px;" mat-dialog-title>
    Delete Record</h3>
  </div>


  <div mat-dialog-content>
      <div class="form-group">
       <p>Are you sure you want to delete the record? This action can't be undone.</p>
      </div>
  </div>

  <mat-dialog-actions align="center" style="padding-top: 17px !important;">
      <button type="button" mat-raised-button class="add-dark-hover btn-default" (click)="close()" style="cursor: pointer;">
          <mat-icon>cancel</mat-icon>
          <span>&nbsp;Cancel</span>
      </button>
      <button mat-raised-button style="background: #d44141 !important" class="add-hover btn-success"
      (click)="delete(true)">

      <mat-icon>delete_forever</mat-icon>
      
      <span>&nbsp;Delete</span>


      </button>
  </mat-dialog-actions>
