.custom-header {
    background: #e0e0e0;
    color: black;
    text-align: center;
    margin-left: -24px !important;
    margin-top: -24px !important;
    margin-right: -24px !important;
    padding: 3px;
    font-size: 18px;
    font-weight: 500 !important;
    margin-bottom: 20px !important;
    border: 0.5px solid #c5c1c1;
}