<h3 class="custom-header" style="font-weight: 300; margin-bottom: 10px !important;" mat-dialog-title>
    Upload Patient Data</h3>

<form >
    <div mat-dialog-content>
        <div  class="col-sm-12 no-padding">
            <div class="form-group col-sm-8">
                <label class="col-sm-12 control-label">Choose File : </label>
                <div class="col-sm-12">
                    <input type="file" name="image"  />
                </div>
            </div>
        </div>
    </div>

    <mat-dialog-actions align="center" style="padding-top: 17px !important;">
        <button mat-raised-button class="add-dark-hover btn-default" type="button" (click)="close()">
        <mat-icon>cancel</mat-icon>
        <span>&nbsp;Cancel</span>
    </button>
        <button mat-raised-button class="add-hover btn-success" type="submit">
        <mat-icon>send</mat-icon>
        <span>&nbsp;Save</span>
    </button>
    </mat-dialog-actions>
</form>