<div class="col-sm-12 flex-p">
    <div class="row">
        <div class="col-sm-12 m-b-10">
            <button mat-raised-button color="primary" style="color: white !important;" class="pull-right filter-hover"
                (click)="filterToggle = !filterToggle">
                <mat-icon>filter_list</mat-icon> Filter
            </button>
        </div>
        <div class="col-sm-12 m-b-10" *ngIf="filterToggle">
            <mat-card class="filter">
                <mat-card-content>
                    <div class="row col-sm-12">
                        <div class="col-sm-4">
                            <div class="col-sm-4 newMarginClass">
                                Keyword search:
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="--Keyword search--">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-4 newMarginClass">

                            </div>
                            <div class="col-sm-8">
                                <button type="button" class="add-hover-reset btn btn-reset  pull-right">Reset</button>
                                <button type="button"
                                    class="filter-hover btn btn-success pull-right margin-right-10">Search</button>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-4 newMarginClass">

                            </div>
                            <div class="col-sm-8">

                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-12" style="padding: 0 !important;">
                <div class="col-sm-6 m-b-10">
                    <div class="table-responsive">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead class="tbl-head">
                                <tr class="tr-grid-header">
                                    <th>rsID</th>
                                    <th class="text-center">Gene</th>
                                    <th class="text-center">A/A</th>
                                    <th class="text-center">A/T</th>
                                    <th class="text-center">A/G</th>
                                    <th class="text-center">G/C</th>
                                    <th class="text-center">G/T</th>
                                    <th class="text-center">G/G</th>
                                    <th class="text-center">C/C</th>
                                    <th class="text-center">C/T</th>
                                    <th class="text-center">T/T</th>
                                    <!-- <th>Total</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of patientList">
                                   
                                    <td><a class="inner-screen" style="cursor: pointer;" title="view pie chart" (click)="openpieeDataDialog()">{{item.rsID}}</a></td>
                                    <td class="text-center">{{item.Gene}}</td>
                                    <td class="text-center">{{item.GenotypeAA}}</td>
                                    <td class="text-center">{{item.GenotypeAT}}</td>
                                    <td class="text-center">{{item.GenotypeAG}}</td>
                                    <td class="text-center">{{item.GenotypeGC}}</td>
                                    <td class="text-center">{{item.GenotypeGT}}</td>
                                    <td class="text-center">{{item.GenotypeGG}}</td>
                                    <td class="text-center">{{item.GenotypeCC}}</td>
                                    <td class="text-center">{{item.GenotypeCT}}</td>
                                    <td class="text-center">{{item.GenotypeTT}}</td>
                                    <!-- <td>{{item.City}}</td> -->
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th class="text-center tr-grid-header tbl-head">Total</th>
                                    <td  class="text-center">1000</td>
                                    <td class="text-center">2000</td>
                                    <td class="text-center">4025</td>
                                    <td class="text-center">1300</td>
                                    <td  class="text-center">1700</td>
                                    <td class="text-center">2500</td>
                                    <td class="text-center">1225</td>
                                    <td class="text-center">1340</td>
                                    <td  class="text-center">1020</td>
                                    <td class="text-center">2000</td>
                                </tr>
                            </tfoot>
                        </table>

                    </div>
                    <mat-paginator [length]="100" [pageSize]="20" [pageSizeOptions]="[20, 40, 60,80, 100]">
                    </mat-paginator>
                </div>
                <div class="col-sm-6">
                    <div>
                        <app-genotype-total-pie></app-genotype-total-pie>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
