<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="w-100" style="margin-bottom: 10px">
  
          <div class="row col-sm-12" class="flex-p">
              <div fxLayout="row" class="col-sm-1">
                
              </div>
              <div class="col-lg-11">
                  <div fxLayout="row" style="float: right !important;" >
                      <!-- <button mat-raised-button [routerLink]="['/mako/billing/Calculations']" class="add-hover btn-default" style="margin-right:10px"><mat-icon>arrow_back</mat-icon>Back</button> -->
                      <button mat-raised-button class="pull-right add-hover btn-success" (click)="addStepDialog()">
                          <mat-icon>add_box</mat-icon> Add Step
                      </button>
                  </div>
              </div>
          </div>
                
    </div>
  </div>
<div fxLayout="row wrap">
    <div class="table-responsive" style="margin-left: 15px;margin-right: 10px">
        <table id="example2" class="table table-bordered table-hover">
            <thead class="tbl-head">
                <tr class="tr-grid-header">
                    <th>Step Title</th>
                    <th>Step Type</th>
                    <th >Step Value</th>
                    <th class="text-center" >Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of List">
                   
                    <td>{{item.StepTitle}}</td>
                    <td>{{item.StepType}}</td>
                    <td>{{item.StepValue}}</td>
                    <td class="text-center" >
                        <a title="Edit " style="margin-right: 10px; cursor: pointer;" (click)="addStepDialog(item)">
                             <i class="fa fa-edit"></i>
                        </a>
                        <a mwlConfirmationPopover
                        [popoverTitle]="popoverTitle"
                        [popoverMessage]="popoverMessage"
                        placement="left"
                        (confirm)="deletePatientOrder()"
                        (cancel)="cancelClicked = true">
                            <i style="cursor: pointer;" title="Delete " class="fa fa-trash red"></i>
                        </a>
                      </td>
                </tr>
            </tbody>
        </table>