<h1 mat-dialog-title>Add Notes</h1><hr>
<div mat-dialog-content>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-4 add-member-label">Visit : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <mat-select color="primary" placeholder="--Select Visit--" class="form-control">
                        <mat-option [value]="0">Visit-1 08/08/2019 9:30PM</mat-option>
                        <mat-option [value]="1">Visit-2 08/09/2019 15:30PM</mat-option>
                        <mat-option [value]="2">Visit-3 08/10/2019 11:45PM</mat-option>
                    </mat-select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label">Symptoms : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input type="email" class="form-control" id="email" placeholder="Enter Symptoms">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Notes : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <textarea class="txtarea form-control" rows="2" placeholder="Enter notes"></textarea>
            </div>
        </div>
       
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button class="add-hover btn-success" (click)="saveAttorney()" [mat-dialog-close]="'test'"><span *ngIf="!attorney">Save</span><span
            *ngIf="attorney">Update</span></button>
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
</mat-dialog-actions> 