<h1 mat-dialog-title> Send Message</h1><hr>
<div mat-dialog-content>
    <form class="form-horizontal" novalidate [formGroup]="addText">
        <div class="form-group">
          <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Patient : </label>
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
              <!-- <input type="text" class="form-control" placeholder="Enter Industry"> -->
                <mat-select color="primary" formControlName="patientName" placeholder="--Select Patient--" class="form-control" required>
                    <mat-option [value]="0">Domenic Vinci</mat-option>
                    <mat-option [value]="1">Brad Kewalramani</mat-option>
                    <mat-option [value]="2">Kipling Morton</mat-option>
                    <mat-option [value]="3">Michael Persaud</mat-option>
                    <mat-option [value]="4">Dan McCarthy</mat-option>
                </mat-select>
                <div *ngIf="!patientName.valid && (patientName.dirty || patientName.touched)" class="error-text">
                    <div *ngIf="patientName.errors.required">
                        Patient is required
                    </div>
                </div>
          </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Diagnosis : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <!-- <input type="text" class="form-control" placeholder="Enter Industry"> -->
                <mat-select color="primary" formControlName="diagnosisName" placeholder="--Select Diagnosis--" class="form-control" required>
                  <mat-option [value]="0">CT Scan</mat-option>
                  <mat-option [value]="1">MRI Scan</mat-option>
                  <mat-option [value]="2">X Ray</mat-option>
                  <mat-option [value]="3">ECG</mat-option>
                  <mat-option [value]="4">Surgery</mat-option>
                </mat-select>
                <div *ngIf="!diagnosisName.valid && (diagnosisName.dirty || diagnosisName.touched)" class="error-text">
                    <div *ngIf="diagnosisName.errors.required">
                        Diagnosis is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-lg-4 col-md-4 col-sm-4 col-xs-4 add-member-label" for="pwd">Message : </label>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <textarea class="form-control txtarea" formControlName="textMessage" rows="4" placeholder="Enter message" required></textarea>
                <div *ngIf="!textMessage.valid && (textMessage.dirty || textMessage.touched)" class="error-text">
                    <div *ngIf="textMessage.errors.required">
                        Diagnosis is required
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button [disabled]="!addText.valid" [ngClass]="!addText.valid ? '' : 'btn-success'" (click)="saveOrder()" [mat-dialog-close]="'test'"><span *ngIf="!order">Send</span><span
            *ngIf="order">Update</span></button>
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Cancel</button>
</mat-dialog-actions> 