.fa-file-text-o {
    color: #ff6600;
}
.fa-file-pdf-o {
    color: #ff6600;
}
.fa-user {
    color: #ff6600;
}

.fa-sticky-note-o {
    color:#ff6600;
}
.fa-sticky-note {
    color: #ff6600;
}
.fa-book {
    color: #663300;
}
.fa-question-circle{
    color: #ff8533;
}
.fa-file {
    color:#007ad9;
}
.fa-file-text {
    color:green;
}
.fa-plus-square {
    color:green;
}
.fa-user-circle {
    color:#ff6600;
}
