<div fxLayout="row wrap" #resizedDiv>
    <div class=" w-100">

        <div class="row wrap" style="margin-bottom:20px;margin-left: 1px">
            <div class="col-lg-12">
                <div class="pills w-100 ">
                    <ul class="nav nav-pills">
                        <li routerLinkActive="active"><a mat-raised-button
                                [routerLink]="['/mako/billing/Dictionary/Scope']"
                                style="margin-right: 10px!important; padding: 0px 10px;">Scope</a></li>
                        <li routerLinkActive="active"><a mat-raised-button
                                [routerLink]="['/mako/billing/Dictionary/DRI']"
                                style="margin-right: 10px!important; padding: 0px 10px;">DRI</a></li>
                        <li routerLinkActive="active"><a mat-raised-button
                                [routerLink]="['/mako/billing/Dictionary/Messages']"
                                style="margin-right: 10px!important; padding: 0px 10px;">Messages</a></li>
                        <li routerLinkActive="active"><a mat-raised-button
                                [routerLink]="['/mako/billing/Dictionary/SeqResults']"
                                style="margin-right: 10px!important; padding: 0px 10px;">SEQ Results</a></li>
                        <li routerLinkActive="active"><a mat-raised-button
                                style="margin-right: 10px!important; padding: 0px 10px;"
                                (click)="patientDataDialog()">Personal Data</a></li>
                        <!-- <li routerLinkActive="active"><a mat-raised-button
                                [routerLink]="['/mako/billing/Dictionary/Algorithm']"
                                style="margin-right: 10px!important; padding: 0px 10px;">ALGO REF</a></li> -->
                        <li routerLinkActive="active"><a mat-raised-button
                                [routerLink]="['/mako/billing/Dictionary/haplotypes']"
                                style="margin-right: 10px!important; padding: 0px 10px;">Haplotypes </a></li>
                        <li routerLinkActive="active"><a mat-raised-button
                                [routerLink]="['/mako/billing/Dictionary/Tests']"
                                style="margin-right: 10px!important; padding: 0px 10px;">Tests</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div fxLayout="row wrap" style="margin-bottom:10px">
    <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="w-100">
        <div class="col-sm-12" class="flex-p">

            <div fxLayout="row" style="float: right !important;">
                <div>
                    <button mat-raised-button color="primary" style="color: white !important;"
                        class="pull-right filter-hover" (click)="filterToggle = !filterToggle">
                        <mat-icon>filter_list</mat-icon> Filter
                    </button>
                    <!-- <button mat-raised-button class="pull-right add-hover btn-success  margin-right-10">
                        <mat-icon>cloud_download</mat-icon> Download Sample 
                    </button>
                    <button mat-raised-button class="pull-right add-hover btn-success  margin-right-10"
                        (click)="uploadDialog()">
                        <mat-icon>backup</mat-icon> Upload CSV
                    </button>
                    <button mat-raised-button class="pull-right add-hover btn-success margin-right-10"
                        (click)="addMessageDialog()">
                        <mat-icon>add_comment</mat-icon> Add Message
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>
<div fxLayout="row wrap" style="margin-bottom: 8px;">
    <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100" *ngIf="filterToggle">
        <mat-card class="filter">
            <mat-card-content>
                <div class="row col-sm-12">
                    <div class="col-sm-4">
                        <div class="col-sm-4 newMarginClass">
                            Allele Name :
                        </div>
                        <div class="col-sm-8">
                            <mat-select placeholder="--Select by Allele Name--" class="form-control">
                                <mat-option *ngFor="let option of List" [value]="">{{option.AlleleName}}</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-4 newMarginClass">
                            Gene :
                        </div>
                        <div class="col-sm-8">
                            <mat-select placeholder="--Select by Gene--" class="form-control">
                                <mat-option *ngFor="let option of List" [value]="">{{option.Gene}}</mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-4 newMarginClass">
                            Genotype :
                        </div>
                        <div class="col-sm-8">
                            <mat-select placeholder="--Select by Genotype--" class="form-control">
                                <mat-option *ngFor="let option of List" [value]="">{{option.Combination}}</mat-option>
                            </mat-select>
                        </div>
                    </div>
                </div>
                <div class="row col-sm-12" style="margin-top: 17px;">
                    <div class="col-sm-4">
                        <!-- <div class="col-sm-4 newMarginClass">
                            Completion Date :
                        </div> -->
                        <div class="col-sm-8">
                            <!-- <div class="input-icon right">
                                <i class="fa fa-calendar" [owlDateTimeTrigger]="dt2"></i>
                                <input class="form-control" placeholder="MM/DD/YYYY" class="form-control" id="db"
                                    [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" name="dt2" [(ngModel)]="dates">
                                <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- <div class="col-sm-5" style="top:10px">
                            Lactating/ Pregnant :
                        </div> -->
                        <div class="col-sm-7" style="top:10px">
                            <!-- <mat-checkbox></mat-checkbox> -->
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <button type="button" class="add-hover-reset btn btn-reset  pull-right">Reset</button>
                            <button type="button"
                                class="filter-hover btn btn-success pull-right margin-right-10">Search</button>
                        </div>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap">
    <div class="table-responsive" style="margin-left: 15px;margin-right: 10px;">
        <table id="example2" class="table table-bordered table-hover">
            <thead class="tbl-head">
                <tr class="tr-grid-header">
                    <th class="text-center" style="min-width:80px">Action</th>
                    <th class="text-center">Used</th>
                    <th>Row Reference (Allele + Genotype)</th>
                    <th>Allele Name</th>
                    <th class="text-center">Genotype</th>
                    <th class="text-center">Gene</th>
                    <th>Comment</th>
                    <th>Recommendation</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of List">
                    <td class="text-center">
                        <a title="Edit" style="margin-right: 10px; cursor: pointer;" (click)="addMessageDialog()">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage"
                            placement="left" (confirm)="deletePatientOrder()" (cancel)="cancelClicked = true">
                            <i style="cursor: pointer;" title="Delete" class="fa fa-trash red"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <mat-checkbox disabled [(ngModel)]="item.Used" color="primary">
                        </mat-checkbox>
                    </td>
                    <td style="font-weight: 100;">{{item.Reference}}</td>
                    <td>{{item.AlleleName}}</td>
                    <td class="text-center">{{item.Combination}}</td>
                    <td class="text-center">{{item.Gene}}</td>
                    <td>{{item.Guideline}}</td>
                    <!-- <td class="text-center">{{item.TargetResolution}}</td>
                    <td class="text-center">{{item.TargetMessage}}</td>
                    <th class="text-center" style="font-weight: 100;">{{item.TBD}}</th> -->
                    <td>{{item.Comment}}</td>

                </tr>
            </tbody>
        </table>
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</div>