<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">

      <div class="row wrap" style="margin-bottom:7px;">
          <div class="col-sm-6">
              <div class="pills w-100 flex-p">
                  <ul class="nav nav-pills">
                      <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/sapphire/patients/textlog/outgoing']"><mat-icon>highlight</mat-icon> Outgoing Messages</a></li>
                      <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/sapphire/patients/textlog/incoming']"><mat-icon>outlined_flag</mat-icon> Incoming Messages</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="w-100 flex-p">
                    <button mat-raised-button class="pull-right add-hover btn-success" (click)="openPatientMessageDialog(null)">
                            <mat-icon>person_add</mat-icon> Send Message
                    </button>
                    <button mat-raised-button color="primary" style="color: white !important;" class="pull-right filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
                            <mat-icon>filter_list</mat-icon> Filter
                    </button>
              </div>
          </div>
      </div>

      <div fxLayout="row wrap">
            <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100" *ngIf="filterToggle">
                <mat-card class="filter">
                    <mat-card-content>
                        <div class="row col-sm-12">
                            <div class="col-sm-4">
                                    <div class="col-sm-4 newMarginClass">
                                        Patient Name : 
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="--Enter Patient Name--">
                                    </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-4 newMarginClass">
                                    From Date : 
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-icon right">
                                        <i class="fa fa-calendar" [owlDateTimeTrigger]="dt3"></i>
                                        <input class="form-control" placeholder="MM/DD/YYYY" class="form-control" id="db" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" name="dt3" [(ngModel)]="dates">
                                        <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-4 newMarginClass">
                                    To Date : 
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-icon right">
                                        <i class="fa fa-calendar" [owlDateTimeTrigger]="dt2"></i>
                                        <input class="form-control" placeholder="MM/DD/YYYY" class="form-control" id="db" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" name="dt2" [(ngModel)]="dates">
                                        <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                            <div class="row col-sm-12 marginTopClass">
                                    <div class="col-sm-4">
                                        <div class="col-sm-4 newMarginClass">
                                            Diagnosis : 
                                        </div>
                                        <div class="col-sm-8">
                                            <mat-select placeholder="--Search by Diagnosis--" class="form-control">
                                                <mat-option *ngFor="let option of statusOptions" [value]="">{{option}}</mat-option>
                                            </mat-select>
                                        </div>
                                    </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-4 newMarginClass">
                                        Scheduler : 
                                    </div>
                                    <div class="col-sm-8">
                                        <mat-select placeholder="--Search by Scheduler--" multiple class="form-control">
                                            <mat-option *ngFor="let option of referringOptions" [value]="">{{option}}</mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="col-sm-4 newMarginClass">
                                        Mobile Number : 
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" placeholder="Enter Mobile Number">
                                    </div>
                                </div>
                                
                        
                        
                            
                            <div class="col-lg-1">
                                <button type="button" class="add-hover btn btn-success  pull-right">Search</button>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                            
                        
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    

      
      <div fxLayout="row wrap">
          <div class="table-responsive">
              <table id="example2" class="table table-bordered table-hover">
                  <thead class="tbl-head">
                      <tr class="tr-grid-header">
                          <th>Patient Name</th>
                          <th>Pt.DOB</th>
                          <th>Diagnosis</th>
                          <th>Test Location</th>
                          <th>Appointment Date</th>
                          <th>Phone</th>
                          <th>Scheduler</th>
                          <th>Action</th>

                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of tableList">
                          <td>{{item.patientName}}</td>
                          <td>{{item.dob}}</td>
                          <td>{{item.testName}}</td>
                          <td>{{item.testLocation}}</td>
                          <td>{{item.apptDate}}</td>
                          <td>{{item.phone}}</td>
                          <td>{{item.scheduler}}</td>
                          <td><a style="color: #007ad9;cursor: pointer;" (click)="openTextDialog(item)">View</a>
                            <!-- <a title="Edit User" style="margin-right: 10px; cursor: pointer;" (click)="openNewPatientDialog(item)">
                              <i class="fa fa-edit"></i>
                            </a>
                            <a mwlConfirmationPopover
                            [popoverTitle]="popoverTitle"
                            [popoverMessage]="popoverMessage"
                            placement="left"
                            (confirm)="deleteNewPatientOrder()"
                            (cancel)="cancelClicked = true">
                                <i style="cursor: pointer;" title="Delete User" class="fa fa-trash red"></i>
                            </a> -->
                            </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

<div *ngIf="!tableList" fxLayout="column" fxLayoutAlign="center center" class="campaign-spinner">
  <mat-spinner color="primary"></mat-spinner>
</div>