<div fxLayout="row wrap" #resizedDiv>
    <div class=" w-100">
        <div fxLayout="row wrap">
            <div fxFlex="100" class=" w-100" style="margin-top: 25px;margin-bottom: 15px">
                <!-- <mat-card class="filter"> -->
                <!-- <mat-card-content></mat-card-content> -->
                <div class="col-sm-12">
                    <button mat-raised-button color="primary" style="color: white !important;"
                        class="pull-right filter-hover" (click)="filterToggle = !filterToggle">
                        <mat-icon>filter_list</mat-icon> Filter
                    </button>
                    <button mat-raised-button class="pull-right add-hover btn-success margin-right-10"
                        >
                        <mat-icon>cloud_download</mat-icon> Download Sample Template
                    </button>
                    <button mat-raised-button class="pull-right add-hover btn-success" (click)="addPatientDataDialog()"
                        style="margin-right: 10px !important;">
                        <mat-icon>backup</mat-icon> Upload Order Data
                    </button>
                    <button mat-raised-button class="pull-right add-hover btn-success" (click)="openPatientDialog(null)"
                        style="margin-right: 10px !important;">
                        <mat-icon>person_add</mat-icon> Add Order
                    </button>
                </div>
            </div>
        </div>
        <div fxLayout="row wrap" style="margin-bottom: 8px;">
            <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100" *ngIf="filterToggle">
                <mat-card class="filter">
                    <mat-card-content>
                        <div class="row col-sm-12">
                            <div class="col-sm-4">
                                <div class="col-sm-4 newMarginClass">
                                    Keyword search :
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="--Keyword search--">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-4 newMarginClass">
                                    Age :
                                </div>
                                <div class="col-sm-8">
                                    <!-- <div class="input-icon right">
                                        <i class="fa fa-calendar" [owlDateTimeTrigger]="dt2"></i>
                                        <input class="form-control" placeholder="MM/DD/YYYY" class="form-control"
                                            id="db" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" name="dt2"
                                            [(ngModel)]="dates">
                                        <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                                    </div> -->
                                    <mat-select placeholder="--Select Age--" class="form-control">
                                        <mat-option *ngFor="let option of age" [value]="">{{option}}</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-4 newMarginClass">
                                    Order Date :
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-icon right">
                                        <i class="fa fa-calendar" [owlDateTimeTrigger]="dt1"></i>
                                        <input class="form-control" placeholder="MM/DD/YYYY" class="form-control"
                                            id="db" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" name="dt1"
                                            [(ngModel)]="dates">
                                        <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-sm-12" style="margin-top: 17px;">
                            <div class="col-sm-4">
                                <div class="col-sm-4 newMarginClass">
                                    Completion Date :
                                </div>
                                <div class="col-sm-8">
                                    <div class="input-icon right">
                                        <i class="fa fa-calendar" [owlDateTimeTrigger]="dt2"></i>
                                        <input class="form-control" placeholder="MM/DD/YYYY" class="form-control"
                                            id="db" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" name="dt2"
                                            [(ngModel)]="dates">
                                        <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-5" style="top:10px">
                                    Lactating  / Pregnant :
                                </div>
                                <div class="col-sm-7" style="top:10px">
                                    <mat-checkbox ></mat-checkbox>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8">
                                    <button type="button"
                                        class="add-hover-reset btn btn-reset  pull-right">Reset</button>
                                    <button type="button"
                                        class="filter-hover btn btn-success pull-right margin-right-10">Search</button>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="row col-sm-12">
                            <div class="col-sm-4">
                                <div class="col-sm-4 newMarginClass">
                                    User Name :
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" placeholder="--Enter User Name--">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="col-sm-4 newMarginClass">
                                    Status :
                                </div>
                                <div class="col-sm-8">
                                    <mat-select placeholder="--Search by Status--" class="form-control">
                                        <mat-option *ngFor="let option of status" [value]="">{{option}}</mat-option>
                                    </mat-select>
                                </div>
                            </div>



                            <div class="col-lg-1">
                                <button type="button" class="add-hover btn btn-success  pull-right">Search</button>
                            </div>
                            <div class="col-lg-1"></div>
                        </div> -->
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div fxLayout="row wrap">
            <div class="table-responsive" style="margin-left: 10px;margin-right: 5px">
                <table id="example2" class="table table-bordered table-hover">
                    <thead class="tbl-head">
                        <tr class="tr-grid-header">
                            <th>Patient Name</th>
                            <th class="text-center">Age</th>
                            <th class="text-center">Gender</th>
                            <th class="text-center">Date of Birth</th>
                            <th >Ethnicity</th>
                            <th>Sample Name</th>
                            <th>FEDEX AWB</th>
                            <th class="text-center">Order Date</th>
                            <th class="text-center">Date Completed</th>
                            <th class="text-center">Pregnant / Lactating</th>
                            <th class="text-center">Received</th>
                            <th class="text-center">Reports </th>
                            <th>Status</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of patientList">

                            <td>{{item.Patient}}</td>
                            <td class="text-center">{{item.Age}}</td>
                            <td class="text-center">{{item.Gender}}</td>
                            <td class="text-center">{{item.dob}}</td>
                            <td>{{item.Ethnicity}}</td>
                            <td>{{item.SampleName}}</td>
                            <td>{{item.FEDEX}}</td>
                            <td class="text-center">{{item.OrderDate}}</td>
                            <td class="text-center">{{item.DateCompleted}}</td>
                            <td class="text-center">
                                <mat-checkbox disabled [(ngModel)]="item.Pregnant"></mat-checkbox>
                            </td>
                            <td class="text-center">
                                <mat-checkbox></mat-checkbox>
                            </td>
                            <td class="text-center">
                                <a style="margin-right: 10px; cursor: pointer;" title="Summary">
                                    <i class="fa fa-file-text-o" aria-hidden="false" style="color: gray"></i>
                                </a>
                                <a style="margin-right: 10px; cursor: pointer;" title="Detailed">
                                    <i class="fa fa-clone" aria-hidden="true" style="height: 20px;width: 20px"></i>
                                </a>

                            </td>
                            <td>{{item.Status}}</td>
                            <td class="text-center">
                                <a title="Edit" style="margin-right: 10px; cursor: pointer;"
                                    (click)="openPatientDialog(item)">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a mwlConfirmationPopover [popoverTitle]="popoverTitle"
                                    [popoverMessage]="popoverMessage" placement="left" (confirm)="deletePatientOrder()"
                                    (cancel)="cancelClicked = true">
                                    <i style="cursor: pointer;" title="Delete" class="fa fa-trash red"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>

            </div>
        </div>

    </div>
</div>

<div *ngIf="!tableList" fxLayout="column" fxLayoutAlign="center center" class="campaign-spinner">
    <mat-spinner color="primary"></mat-spinner>
</div>