<form class="form-horizontal">
  <div style="margin-top: 30px;overflow:auto!important;">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="col-sm-12">
        <div class="form-group">
          <label class="control-label col-sm-4 "> Patient Name : </label>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input
              disabled
              type="text"
              class="form-control"
              placeholder="Stephen Carter"
              required
            />
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-4 "> Age: </label>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input
              disabled
              type="text"
              class="form-control"
              placeholder="21"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4 "> Gender: </label>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input
              disabled
              type="text"
              class="form-control"
              placeholder="Male"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4 "> Country: </label>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input
              disabled
              type="text"
              class="form-control"
              placeholder="USA"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4 "> State: </label>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input
              disabled
              type="text"
              class="form-control"
              placeholder="New York"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4 "> City: </label>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input
              disabled
              type="text"
              class="form-control"
              placeholder="New York City"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4 "> Ethnicity: </label>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input
              disabled
              type="text"
              class="form-control"
              placeholder="African"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-4 "> Sample Name: </label>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input
              disabled
              type="text"
              class="form-control"
              placeholder="H170600552"
              required
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</form>
