<div fxLayout="row wrap" #resizedDiv>
  <div class="w-100">

    <div class="row wrap" style="margin-bottom:20px;margin-top: 15px;margin-left: 1px">
      <div class="col-lg-12">
        <div class="pills w-100 ">
          <ul class="nav nav-pills">
            <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/mako/billing/Dictionary']"
                style="margin-right: 20px!important; padding: 0px 10px;">
                <mat-icon>outlined_flag</mat-icon>Dictionary
              </a></li>
            <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/mako/billing/Calculations']"
                style="margin-right: 20px!important; padding: 0px 10px;">
                <mat-icon>outlined_flag</mat-icon> Calculations
              </a></li>
            <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/mako/billing/finalOutput']"
                style="margin-right: 20px!important; padding: 0px 10px;">
                <mat-icon>outlined_flag</mat-icon> Final Output Variables List
              </a></li>
            <li routerLinkActive="active"><a mat-raised-button _ngcontent-c37
                href="../../../assets/img/vendor/leaflet/Nutritional DNA Results (SAMPLE-1).pdf" target="_blank"
                style="margin-right: 20px!important; padding: 0px 10px;">
                <mat-icon>outlined_flag</mat-icon> Detailed Report
              </a></li>
            <li routerLinkActive="active"><a mat-raised-button _ngcontent-c37
                href="../../../assets/img/vendor/leaflet/Nutritional DNA Results (SAMPLE-1).pdf" target="_blank">
                <mat-icon>outlined_flag</mat-icon> Summary Report
              </a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>

<div fxLayout="row wrap">
  <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="w-100" style="margin-bottom: 10px">

    <div class="row col-sm-12" class="flex-p">

      <div class="col-sm-4">
        <input type="text" class="form-control pull-left" style="width: 50%;margin-right: 15px;"
          placeholder="Keyword Search" required>
        <button type="button" class="add-hover btn btn-success  pull-left">Search</button>
      </div>

      <div class="col-lg-8" style="padding: 0px">
        <div fxLayout="row" style="float: right !important;">

          <button mat-raised-button style="margin-right: 20px" class="pull-right add-hover btn-success"
            (click)="addCalcDialog()">
            <mat-icon>add_box</mat-icon> Add CALC
          </button>
          <button mat-raised-button class="pull-right add-hover btn-success">
            <mat-icon>refresh</mat-icon> Refresh
          </button>

        </div>
      </div>

    </div>



  </div>
</div>

<div fxLayout="row wrap">
  <div class="table-responsive" style="margin-left: 15px;margin-right: 10px">
    <table id="example2" class="table table-bordered table-hover">
      <thead class="tbl-head">
        <tr class="tr-grid-header">

          <th class="text-center">Action</th>
          <th>Result Code</th>
          <th>Result Title</th>
          <th>Test Name</th>
          <th>Result Value</th>
          <th>Result Type</th>
          <th>Report Type</th>
          <th>Report Variable</th>
          <th class="text-center">Steps</th>
          <th class="text-center">Calculation Done</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of List">

          <td class="text-center">
            <a title="Edit User" style="margin-right: 10px; cursor: pointer;">
              <i class="fa fa-edit"></i>
            </a>
            <a mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left"
              (confirm)="deletePatientOrder()" (cancel)="cancelClicked = true">
              <i style="cursor: pointer;" title="Delete User" class="fa fa-trash red"></i>
            </a>
          </td>
          <td>{{item.ResultCode}}</td>
          <td>{{item.ResultTitle}}</td>
          <td>{{item.TestName}}</td>
          <td>{{item.ResultValue}}</td>
          <td>{{item.ResultType}}</td>
          <td>{{item.ReportType}}</td>
          <td>
            <div *ngIf="item.ReportVariable != '-'">-</div>
            <div *ngIf="item.ReportVariable == '-'">
              NA
            </div>
          </td>
          <td class="text-center">
            <a target="_blank" routerLink='/mako/billing/Steps'
              style="color: #007ad9;cursor: pointer;">{{item.Steps}}</a>
          </td>
          <td class="text-center">
            <mat-checkbox disabled [(ngModel)]="item.CalculationDone" color="primary">
            </mat-checkbox>
          </td>

        </tr>
      </tbody>
    </table>

    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>

  </div>
</div>