<div fxLayout="row wrap" #resizedDiv class="new-style-class">
  <div class="flex-p w-100" >
    <!-- <h3>Order Information</h3>
    <div style="background-color: #e0e0eb;padding: 20px;">
        <div class="row">
            <div class="col-lg-4">
                <label class="control-label col-lg-6 col-md-2 col-sm-2 col-xs-2">Order ID :</label>
                <label class="control-label col-lg-6 col-md-2 col-sm-2 col-xs-2 new-class">1257963</label>    
            </div>
            <div class="col-lg-4">
                <label class="control-label col-lg-6 col-md-2 col-sm-2 col-xs-2">Attorney :</label>
                <label class="control-label col-lg-6 col-md-2 col-sm-2 col-xs-2 new-class">Domenic Vinci</label>    
            </div>
            <div class="col-lg-4">
                <label class="control-label col-lg-6 col-md-2 col-sm-2 col-xs-2">Patient Name :</label>
                <label class="control-label col-lg-6 col-md-2 col-sm-2 col-xs-2 new-class">Fabrice Vanegas</label>
            </div>
        </div>
        <br>
        <div class="row">
          
            <div class="col-lg-4">
                <label class="control-label col-lg-6 col-md-2 col-sm-2 col-xs-2">Geographic Location :</label>
                <label class="control-label col-lg-6 col-md-2 col-sm-2 col-xs-2 new-class">Houston, TX</label>
            </div>
            <div class="col-lg-4">
                <label class="control-label col-lg-6 col-md-2 col-sm-2 col-xs-2">Referring Physician :</label>
                <label class="control-label col-lg-6 col-md-2 col-sm-2 col-xs-2 new-class">David</label>
            </div>
            <div class="col-lg-4">
                <label class="control-label col-lg-6 col-md-2 col-sm-2 col-xs-2">Received Date :</label>
                <label class="control-label col-lg-6 col-md-2 col-sm-2 col-xs-2 new-class">22/05/2019</label>
            </div> 
        </div>
        
      </div>
    <br> -->



      
      <div class="row" style="margin-bottom:14px;">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="w-100 flex-p">
                        <h3 class="newStyleClass">Insurance Details</h3>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="w-100 flex-p">
                        <!-- <button mat-raised-button class="pull-right add-hover-help btn-success-help" style="margin-left: 10px;">
                                <mat-icon>help_outline</mat-icon> Help
                            </button> -->
                    <button mat-raised-button class="pull-right add-hover btn-success" (click)="openPatientInsuranceDialog(null)">
                        <mat-icon>add</mat-icon> Add Insurance
                    </button>
                    <!-- <button mat-raised-button color="primary" style="color: white !important;" class="pull-right filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
                        <mat-icon>filter_list</mat-icon> Filter
                    </button> -->
                </div>
            </div>
        </div>
    <div fxLayout="row wrap">
        <div class="table-responsive">
            <table id="example2" class="table table-bordered table-hover">
                <thead class="tbl-head">
                    <tr class="tr-grid-header">
                        <th>Insurance Company</th>
                        <th>Type</th>
                        <th>Name of Insured</th>
                        <th>Insured DOB</th>
                        <th>Sex</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Relationship to Patient</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of tableList">
                        <td>{{item.insuranceCompany}}</td>
                        <td>{{item.type}}</td>
                        <td>{{item.insuredName}}</td>
                        <td>{{item.insuredDob}}</td>
                        <td>{{item.sex}}</td>
                        <td>{{item.phone}}</td>
                        <td><a>{{item.address}}</a></td>
                        <td>{{item.relationship}}</td>
                        
                        <td>
                          <a title="Edit insurance" style="margin-right: 10px; cursor: pointer;" (click)="openPatientInsuranceDialog(item)">
                            <i class="fa fa-edit"></i>
                          </a>
                          <a mwlConfirmationPopover
                          [popoverTitle]="popoverTitle"
                          [popoverMessage]="popoverMessage"
                          placement="left"
                          (confirm)="deletePatientOrder()"
                          (cancel)="cancelClicked = true">
                              <i style="cursor: pointer;" title="Delete User" class="fa fa-trash red"></i>
                          </a>
                          </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>






    
  </div>
</div>