<div fxLayout="row wrap">
    <div class="table-responsive flex-p" style="width:50%;margin-left: 10px; margin-right: 10px">
        <table id="example2" class="table table-bordered table-hover">
            <tbody>
                <tr *ngFor="let item of DocumentList">
                    <td>{{item.DocumentTitle}}</td>
                    <td>
                        <a [href]="'http://'+ item.FilePath" target="_blank">
                            <mat-icon>cloud_download</mat-icon>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>