<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="w-100">
        <div class="row col-sm-12" class="flex-p">
            <div fxLayout="row" style="float: right !important;margin-right: 5px">
                <div>
                    <button mat-raised-button color="primary" style="color: white !important;"
                        class="pull-right filter-hover" (click)="filterToggle = !filterToggle">
                        <mat-icon>filter_list</mat-icon> Filter
                    </button>
                    <!-- <button mat-raised-button class="pull-right add-hover btn-success"
                        style="margin-right: 10px !important;">
                        <mat-icon>cloud_download</mat-icon> Download Sample
                    </button>
                    <button mat-raised-button class="pull-right add-hover btn-success" (click)="addPatientDataDialog()"
                        style="margin-right: 10px !important;">
                        <mat-icon>backup</mat-icon> Upload CSV
                    </button>
                    <button mat-raised-button class="pull-right add-hover btn-success margin-right-10" (click)="addScopeDialog()" >
                        <mat-icon>add_comment</mat-icon> Add Scope
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</div>
<form [formGroup]="filterForm">
    <div class="row wrap flex-p" style="margin-left: -7px;">
        <div class="col-sm-12" *ngIf="filterToggle">
            <mat-card class="filter">
                <mat-card-content>
                    <div class="row col-sm-12">
                        <div class="col-sm-4">
                            <div class="col-sm-4 newMarginClass">
                                Keyword search :
                            </div>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" formControlName="keyWord" placeholder="--Keyword search--">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-4 newMarginClass">
                                <!-- Upload Date : -->
                            </div>
                            <div class="col-sm-8">
                                <!-- <div class="input-icon right">
                                    <i class="fa fa-calendar" [owlDateTimeTrigger]="dt1"></i>
                                    <input class="form-control" placeholder="MM/DD/YYYY" class="form-control"
                                        id="db" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" name="dt1">
                                    <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-8">
                                <button type="button" class="add-hover-reset btn btn-reset  pull-right"
                                    (click)="resetFilter()">Reset</button>
                                <button type="button" class="filter-hover btn btn-success pull-right margin-right-10"
                                    (click)="filterBy(filterForm.value)">Search</button>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</form>
<div fxLayout="row wrap">
    <div class="w-100" style="margin-left: 15px;margin-right: 10px;">
        <table id="example2" class="table table-bordered table-responsive-md btn-table table-hover">
            <thead class="tbl-head">
                <tr class="tr-grid-header">
                    <th class="text-center" style="min-width: 65px;">Actions</th>
                    <!-- <th class="text-center">Active</th> -->
                    <th class="text-center" style="min-width: 210px;">Allele Name</th>
                    <th class="text-center">Gene</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of pageScopeList">
                    <td class="text-center">
                        <a title="Edit" style="cursor: pointer;" (click)="addScopeDialog(item.ScopeId,'Update',item)">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a (click)="deleteDialog(item.ScopeId)">
                            <i style="cursor: pointer;" title="Delete" class="fa fa-trash red"></i>
                        </a>
                    </td>
                    <!-- <td class="text-center">
                        <mat-checkbox [(ngModel)] ="item.Active" (click)="ConfirmDialog(item.ScopeId,item.Active)"></mat-checkbox>
                    </td> -->
                    <td class="text-center">{{item.AlleleName}}</td>
                    <td class="text-center">{{item.Gene}}</td>
                    <td>{{item.Description}}</td>

                </tr>
                <tr *ngIf="pageScopeList?.length <=0">
                        <td colspan="4" style="text-align: center !important">No Record's Found</td>
                    </tr>
                <!-- <div *ngIf = "pageScopeList" > -->
            </tbody>
        </table>
        <mat-paginator [length]="totalSize" [pageIndex]="currentPage" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 50, 100]" (page)="handlePage($event)">
        </mat-paginator>

    </div>
</div>

<div fxLayout="row wrap" style="margin-left: 15px;margin-right: 15px">
    <div fxFlex="100" fxFlex.gt-sm fxFlex.sm class="flex-p w-100">
        <div class="row col-sm-12">
            <div class="col-sm-11"></div>

        </div>

    </div>
</div>